*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	font-size: 3em;
}

section{
	display: flex;
	width: 70%;
	margin: auto;
	padding-top: 1em;
}
section>div{
	flex-direction: row;
	width: 33.33%;
}
.enlaces{
	margin: auto;
	width: 80%;
	border: 3px solid black;
}
section>div>div:hover,section>div>div:focus{
	cursor: pointer;
	background: #80ffe5;
}
img{
	width: 100%;
}
h2{
	text-align: center;
}