@import url('https://fonts.googleapis.com/css?family=Acme');

*
{
	overflow-x: hidden;
	font-family: 'Acme', sans-serif;
}
h1
{

	text-align: center;
}
button{
	font-size: 2em;
	border: 2px solid lightgrey;
	margin: 1em;
	padding: 1em;
	border-radius: 10px;
}
button:hover, button:focus{
	background-color: #4286f4;
}
.container
{
	border: 2px solid black;
	border-radius: 4px;
	width: 1252px;
	height: 906px;
	margin: 0 auto;
	background-color: #BFE1FE;
	background-image: url("./resources/granja.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
	position: relative;
}
.number-container{
	margin: 0 auto;
	margin-top: 10em;
	text-align: center;
}
.titulo
{
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 2px solid #CE9800;
	border-radius: 4px;
	width: 30%;
	background-color: #FFD36A;
}
#grass{
	width: 100%;
	height: 200px;
	position: absolute;
	bottom: 0;
}
.manzana{
	top: 25px;
	left: 300px;
	position: absolute;
	width: 100px;
}
#modalError{
	margin: 0 auto;
	color: red;
	text-align: center;
	display: none;
	background-color: white;
	border: 2px solid #D6D6D6;
	border-radius: 16px;
	width: 30%;
	padding: 0.2em;
}

#result-table, th, td{
	margin: 0 auto;
	margin-top: 1%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}
th, td{
	padding: 10px;
}
th{
	background-color: #9C9C9C;
}
td{
	background-color: white;
}

#restart{
	background-color: #97FF8F;
	display: block;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5em;
	font-size: 1em;
	border: 2px solid #0CA400;
	border-radius: 16px;
	cursor: pointer;

}
